// Start Base reset //

body {
    margin: 0;
}

// End Base reset


// COLORS //

// End COLORS

// FONTS //

// End FONTS


// Start INDEX.php //

main {
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#db_infos {
    background-color: beige;
    width: 50%;
    height: 60vh;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;

    td {
        width: 30%;
    }
}

// End INDEX.php


// Start ADMIN.php //

main#admin {
    flex-direction: column;
}

.admin {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

// End ADMIN.php

// Start VIEW.php //

// End VIEW.php