body {
    margin: 0;
}

main {
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#db_infos {
    background-color: beige;
    width: 50%;
    height: 60vh;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;

    td {
        width: 30%;
    }
}


// ADMIN

main#admin {
    flex-direction: column;
}

.admin {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}
