#login_view {
    background-color: $grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

#login_wrap {
    width: 400px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        color: $greyLight;
        padding: 20px 0 30px 0;
        border-bottom: 1px solid $cream;
    }
}

#login_wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0 30px 0;

    fieldset {
        border: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: $blueLight;
            color: white;
        }

        input[type="password"],
        input[type="text"] {
            width: 300px;
            height: 46px;
            border: 1px solid $cream;
            text-indent: 10px;
        }
    }
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    // margin-top: 20px;
    background-color: $blueLight;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: $blue;
    transition: background-color 0.3s;
}